body{
    text-align: center;
    background-image: -webkit-linear-gradient(45deg, #f100fc 10%, #00c6ff 50%, #00ff6f 90%);
    background-image: -moz-linear-gradient(45deg, #f100fc 10%, #00c6ff 50%, #00ff6f 90%);
    background-image: -o-linear-gradient(45deg, #f100fc 10%, #00c6ff 50%, #00ff6f 90%);
    background-image: linear-gradient(45deg, #f100fc 10%, #00c6ff 50%, #00ff6f 90%);

}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 10px wheat;
}

h2{
    text-align: right;
}